#mybtn{
	background-color: green;
	color: white;
	padding: 10px;
	width: 120px;
	border-style: none;
	border-margin: none;
	border-radius: 10%;
	margin: 10px;
}

.box-blue{
	background-color: blue;
}
.box-green{
	background-color: green;
}
.box-brown{
	background-color: brown;
}
.box-bisque{
	background-color: bisque;
}
.tj-container{
	
}